.post {
  padding: 16px 16px;
  margin: 24px 0;
  border-radius: 8px;
  position: relative;
  box-shadow: 0px 0px 8px 8px #ddd;
}

.post:hover {
  box-shadow: 0px 0px 8px 8px #aaa;
}

.post .title {
  font-size: 16px;
  padding: 0 0 8px 0;
}

.post .body {
  margin: 8px 0;
}

.post .delete {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 4px 8px;
  border-radius: 100%;
  background-color: red;
  text-align: center;
}
